__pypackages__/
# Environments
.env
.venv
venv2
env/
venv/
ENV/
env.bak/
venv.bak/
vectorstore
# Environment in subdirectories 
**/*.env 
!**/example.env
**/venv/**
.ipynb_checkpoints
.DS_Store
